/bin/
/dist/
/coverage.out
*.test
*.prof
*.log
*.tfstate
*.tfstate.*
*.tfplan
*.plan
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
!*.tfvars.example
.env
.env.*
!.env.example
.terraformrc
terraform.rc
*.tfrc
crash.*
__pycache__/
*.pyc
